{% extends 'login/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>登录</title>
{% endblock %}

{% block css %}
    <link rel='stylesheet' href='{% static 'css/log.css' %}'type='text/css' media='all' />
    <link rel="stylesheet" href="{% static 'css/item.css' %}">
    <style>
    #captcha_status{color: red;}
    .form-login { max-width: 380px;}
    </style>
{% endblock css %}

{% block content %}
    <div class="container">
        <div class="col-md-offset-4 col-md-4">
            <form class="form-login" action="" method="post">
                {% if message %}
                    <div class="alert alert-warning" style="font-size: 20px">{{ message }}</div>
                {% endif %}


                {% csrf_token %}
                <h2 class="text-center">欢迎登录</h2>

                <div class="form-group">
                    {{ login_form.username.label_tag }}
                    {{ login_form.username }}
                </div>
                <div class="form-group">
                    {{ login_form.password.label_tag }}
                    {{ login_form.password }}
                </div>
                <div class="form-group">

                    {{ login_form.captcha.label_tag }}
                    {{ login_form.captcha }}
                    {{ login_form.captcha.errors }}
                </div>

                <button type="reset" class="btn btn-default pull-left">重置</button>
                <button type="submit" class="btn btn-primary pull-right">提交</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block script %}

    <script>
        $(function(){
            {#滑过元素变小手#}
           $('.captcha').css({
               'cursor':'pointer'
           });
           {# 点击刷新#}
            $('.captcha').click(function(){
                {#alert('click');#}
                $.getJSON('/captcha/refresh/',function(result){
                    $('.captcha').attr('src',result['image_url']);
                    $('#id_captcha_0').val(result['key'])
                });
            });

            {#id_captcha_1是输入框的id，当失去焦点是触发函数#}
            $('#id_captcha_1').blur(function(){
                {#alert('123');#}
                json_data = {
                    {#获取输入框和隐藏字段id_captcha_0的数值#}
                    'response':$('#id_captcha_1').val(),
                    'hashkey':$('#id_captcha_0').val()
                }
                {#发送数据到/login/ajax_code/#}
                $.getJSON('/login/ajax_code/',json_data, function(data){
                    $('#captcha_status').remove()
                    {#status返回1为验证码正确,status返回0为验证码错误,在输入框后面写入提示信息#}
                    if (data['status'] == false){
                        $('#id_captcha_1').after("<span id='captcha_status'>*验证码错误</span>")
                    }
                });
            });
        });
    </script>

{% endblock %}