{% load staticfiles %}
<aside class="post-right hidden-xs">
            </section></section>

            <section class="widget post-right-item">
                <h4 class="post-right-title">热门推荐</h4>


                <ul class="post-hot clearfix">

                {% for k in remen %}
                    <li>
                        <div class="img">

                            <a href="{% url 'blog:index' %}show-{{ k.id }}.html"
                               title="{{ k.title }}"><img
                                    src="/media/{{ k.img }}"
                                    srcset="/media/{{ k.img }}"
                                    alt="" class="wp-post-image" width="120"
                                    height="80"/></a>

                        </div>
                        <a href="{% url 'blog:index' %}show-{{ k.id }}.html" title="{{ k.title }}"
                           target="_blank" class="title">{{ k.title }}</a>
                    </li>
                {% endfor %}

                </ul>
            </section>

            </section>
            <section class="widget post-right-item"><h4 class="post-right-title">所有标签</h4>
                <div class="tags">
                    {% for t in tag %}
                        <a href="/tag/{{ t.name }}">{{ t.name }}</a>
                    {% endfor %}

                </div>
            </section>
            </section><!-- /关注我们 -->
            <div class="post-right-item">
                <h4 class="post-right-title">关注我们</h4>
                <div class="wid-about">
                    <p>Python学院，欢迎关注！</p>
                    <img src="{% static '/picture/weixinqr.jpg' %}" alt="微信二维码-互联网的一些事" width="160" height="160">
                </div>
                <div class="wid-about">
                    <p><strong>联系方式:</strong></p>
                    <p>QQ:1457753144</p>
                    <p>Email：1457753144@qq.com</p>
                </div>
            </div>


        </aside>